@font-face {
    font-family: CodecPro;
    src: url('../fonts/CodecPro-News.ttf');
}

@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-codecpro: CodecPro;
    --color-bg-primary: hsl(45, 30%, 95%);
    --color-bg-secondary: hsl(45, 25%, 90%);
    --color-bg-tertiary: hsl(45, 20%, 85%);
    --color-bg-primary-dark: hsl(260, 5%, 10%);
    --color-bg-secondary-dark: hsl(260, 5%, 15%);
    --color-bg-tertiary-dark: hsl(260, 5%, 20%);
    --color-text: hsl(0, 0%, 10%);
    --color-text-muted: hsl(0, 0%, 15%);
    --color-text-dark: hsl(0, 0%, 90%);
    --color-text-muted-dark: hsl(0, 0%, 80%);
    --color-highlight: hsl(24, 100%, 60%);
    --color-highlight-hover: hsl(24, 100%, 65%);
    --color-contrast: hsl(280, 100%, 45%);
    --color-contrast-hover: hsl(280, 100%, 50%);
    --color-border: hsl(48, 100%, 60%);
    --color-border-muted: hsl(48, 80%, 65%);
    --color-neutral: hsl(260, 5%, 55%);
    --color-neutral-hover: hsl(260, 5%, 60%);
    --color-success: hsl(147, 100%, 40%);
    --color-success-hover: hsl(147, 100%, 45%);
    --color-warning: hsl(7, 100%, 65%);
    --color-warning-hover: hsl(7, 100%, 70%);
    --color-notification: hsl(230, 100%, 65%);
    --color-notification-hover: hsl(230, 100%, 70%);
}

header::after{
    content: '';
    position: absolute;
    height: 24px;
    width: 24px;
    background-color: transparent;
    bottom: 0;
    right: 8px;
    transform: translate(0, 100%);
    border-radius: 12px;
    box-shadow: 10px -10px 0 var(--color-bg-secondary);
    transition: 300ms;
}
.dark header::after{
    box-shadow: 10px -10px 0 var(--color-bg-secondary-dark);
}

aside::after{
    content: '';
    position: absolute;
    height: 24px;
    width: 24px;
    background-color: transparent;
    top: 0;
    right: 0;
    transform: translate(100%, 0);
    border-radius: 12px;
    box-shadow: -10px -10px 0 var(--color-bg-secondary);
    transition: 300ms;
}
.dark aside::after{
    box-shadow: -10px -10px 0 var(--color-bg-secondary-dark);
}

footer::after{
    content: '';
    position: absolute;
    height: 24px;
    width: 30px;
    background-color: transparent;
    top: 0;
    left: 0;
    transform: translate(0, -100%);
    border-bottom-left-radius: 12px;
    box-shadow: -8px 10px 0 var(--color-bg-secondary);
    transition: 300ms;
}
.dark footer::after{
    box-shadow: -8px 10px 0 var(--color-bg-secondary-dark);
}
footer::before{
    content: '';
    position: absolute;
    height: 24px;
    width: 30px;
    background-color: transparent;
    top: 0;
    right: 8px;
    transform: translate(0, -100%);
    border-radius: 12px;
    box-shadow: 10px 10px 0 var(--color-bg-secondary);
    transition: 300ms;
}
.dark footer::before{
    box-shadow: 10px 10px 0 var(--color-bg-secondary-dark);
}